<div class="container">
  <h2>PCR Analyzer</h2>

  <div class="controls">
    <label for="pcr-select">PCR for:</label>
    <select id="pcr-select" [ngModel]="selectedDataSource" (change)="onDataSourceChange($event)">
      <option value="nifty50" selected>Nifty 50</option>
      <option value="banknifty">Bank Nifty</option>
      <option value="sensex">Sensex</option>
      <option value="crudeoil">Crude Oil</option>
    </select>
  </div>

  <div *ngIf="error" class="error">{{ error }}</div>

  <table *ngIf="csvData.length">
    <thead>
      <tr>
        <th *ngFor="let key of getKeys(csvData[0])" [ngClass]="{'strike-column': key === 'Strike'}">{{ key }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of csvData; let i = index" [ngStyle]="i === middleRowIndex ? {'background-color': '#ffeeba'} : null">
        <td *ngFor="let key of getKeys(row)" [ngClass]="{'strike-column': key === 'Strike'}">{{ row[key] }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td *ngFor="let key of getKeys(csvData[0])">
          <ng-container *ngIf="key === 'OI CE'">
            {{ totalOiCe }} <span class="percentage">({{ oiCePercent }}%)</span>
          </ng-container>
          <ng-container *ngIf="key === 'OI PE'">
            {{ totalOiPe }} <span class="percentage">({{ oiPePercent }}%)</span>
          </ng-container>
          <ng-container *ngIf="key === 'Chng in OI CE'">
            <span [ngClass]="{'highlight': totalChngOiCe > totalChngOiPe}">
              {{ totalChngOiCe }} <span class="percentage">({{ chngOiCePercent }}%)</span>
            </span>
          </ng-container>
          <ng-container *ngIf="key === 'Chng in OI PE'">
            <span [ngClass]="{'highlight': totalChngOiPe > totalChngOiCe}">
              {{ totalChngOiPe }} <span class="percentage">({{ chngOiPePercent }}%)</span>
            </span>
          </ng-container>
          <ng-container *ngIf="key === 'Chng CE'">{{ totalChngCe }}</ng-container>
          <ng-container *ngIf="key === 'Chng PE'">{{ totalChngPe }}</ng-container>
        </td>
      </tr>
    </tfoot>
  </table>

  <div *ngIf="pcrValue !== null" class="pcr-info">
    <span>PCR Value: {{ pcrValue }} ({{ totalOiPe }} / {{ totalOiCe }})</span>
    <span *ngIf="pcrChngOiValue !== null">
      PCR for Change in OI: {{ pcrChngOiValue }} ({{ totalChngOiPe }} / {{ totalChngOiCe }})
    </span>
    <ng-container *ngIf="pcrChngOiValue !== null">
      <span [ngClass]="{
        'buy-call': pcrChngOiValue > 1,
        'buy-put': pcrChngOiValue < 1,
        'sideways-market': pcrChngOiValue === 1
      }">
        <span *ngIf="pcrChngOiValue > 1">Buy call</span>
        <span *ngIf="pcrChngOiValue < 1">Buy put</span>
        <span *ngIf="pcrChngOiValue === 1">sideways market</span>
      </span>
    </ng-container>
  </div>

  <div class="support-resistance">
    <div *ngIf="majorResistance.length">
      <h3>Major Resistance</h3>
      <table>
        <thead>
          <tr>
            <th class="strike-column">Strike</th>
            <th>OI CE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of majorResistance | slice:0:3">
            <td class="strike-column">{{ item.strike }}</td>
            <td>{{ item.oiCe }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="majorSupport.length">
      <h3>Major Support</h3>
      <table>
        <thead>
          <tr>
            <th class="strike-column">Strike</th>
            <th>OI PE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of majorSupport | slice:0:3">
            <td class="strike-column">{{ item.strike }}</td>
            <td>{{ item.oiPe }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="footer">
    <p>Created by Cline</p>
  </div>
</div>
